@import '../components/UI/colors/Colors.scss';
@import '../components/UI//media-queries/MediaQueries.scss';

.header {
    width: 100%;
    height: 100px;
    line-height: 100px;

    &-logo {
        margin: 0;
        padding: 0;
    }

    &-logo_icon {
        font-size: 40px;
        margin-top: -40px;
        margin-left: 11px;
        color: $primary;
    }
    
    &-logo h5 {
        font-weight: 600;
        font-size: 1rem;
        color: $tertiary;
        margin-top: -40px;
        margin-bottom: 0;
    }
    
    &-logo h5 span { 
        font-style: italic;
        color: $primary;
    }

    &-menu a {
        font-weight: 600;
        font-size: 1rem;
        color: $tertiary;
        transition: 0.3s;
        
    }

    &-menu a:hover {
        color: $primary;
    }

    &-active_menu {
        color: $primary !important;
    }

    &-cart_icon &-icon, &-user &-icon, &-mobile_menu &-icon {
        font-size: 1.3rem;
        color: $tertiary;
        cursor: pointer;
    }

    &-cart_icon {
        position: relative;
    }

    &-cart_badge {
        position: absolute;
        top: 30px;
        right: -10px;
        background: $primary;
        color: $light;
        height: 17px;
        width: 17px;
        border-radius: 50%;
        font-size: .7rem;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    &-mobile_menu {
        font-weight: 600;
        display: none;
    }

    &-shrink {
        position: sticky;
        top: 0;
        left: 0;
        background: $light;
        z-index: 999;
        box-shadow: 5px 5px 15px -5px $secondary;
    }

    &-user a {
        color: $tertiary;
    }
}

@include laptop-devices {
    .header { 

        &-logo h5 {
            font-size: 0.8rem;
            margin-top: -15px;
        }

        &-navigation {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.425);
            z-index: 99;
            display: none;
        }

        &-menu {
            position: absolute;
            top: 0;
            right: 0;
            width: 250px;
            height: 100%;
            background: $light;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            z-index: 100;
            line-height: 20px;
        }

        &-menu a {
            font-size: 0.9rem;
        }

        &-mobile_menu {
            display: block;
        }

        &-cart_icon i, &-user i, &-mobile_menu i {
            font-size: 1rem;
        }

        &-show_menu {
            display: block;
        }
    }
}

@include tablet-devices {
    .header {
        width: 100%;
        height: 80px;
        line-height: 80px;

        &-logo_icon {
            font-size: 35px;
            margin-top: -35px !important;
            margin-left: 7px;
        }

        &-logo h5 {
            margin-top: -35px !important;
            font-size: 0.9rem;
        }

        &-cart_badge { 
            top: 20px;
        }
    }
}

@include mobile-devices {
    .header {
        padding: 0 10px;

        &-logo_icon {
            font-size: 30px;
            margin-top: -30px !important;
        }

        &-logo h5 {
            font-size: 0.8rem;
        }
    }
}
